body {
    font-family: Ubuntu;
    margin: 0;
}

.hidden {
    display: none;
}

.header {
    margin: 0;
    display: inline-block;
}

.panel {
    margin: 32px 0 32px 0;
}

h2 {
    margin-bottom: 16px;
}

input, textarea {
    border: 1px solid #eee;
    background: #FFF;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 16px;
}

input::placeholder {
    color: #999;
}

button {
    background: #0072ff;
    border: 0;
    padding: 8px 16px;
    margin: 16px 0px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.nav {
    display: inline-block;
    float: right;
}

.nav button {
    border: 0;
    background: transparent;
    color: #0089ff;
}

.nav button:hover {
    text-decoration: underline;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

.new-ad {
    display: block;
}

.ad {
    margin-bottom: 32px;
}

.ad-user {
    background: #276cb3;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 8px 32px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.ad-text {
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ddd;
    padding: 16px 32px;
}

.error {
    color: #F00;
}